.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	/* min-height: 100%; */
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #e6f1ff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
    opacity: 0;
    width: 100%;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 900;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 100%;
}
/*Start global*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    font-size:10px;
    font-family: 'SF Mono Regular', "SF Mono", 'roboto',"SFMono-Regular", monospace ;
    color: #eee;
   
}

.mono-class {
    font-family: "SFMono-Regular", monospace;
  }

body{
    font-family: 'SF Mono Regular', "SF Mono", 'roboto',"SFMono-Regular", monospace ;
    /* width: 100%;
    height: 100%; */
    /* background: linear-gradient(-45deg, 	#0a192f	, 	#172a45, #333f58); */
    background: #0a192f;
    /* background-size: 400% 400%; */
    /* background: url(images/sitebg.jpg) no-repeat center fixed;
    background-size: cover; */
    animation: change 40s ease-in-out infinite;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    
}

/* span{
    color: #a8b2d1;
    margin-right: 1rem;
} */
:root{
    --gradient-color1: linear-gradient(to right bottom, rgba(22, 93, 96, 0.8), rgba(12, 133, 105, 0.8));
    --gradient-color2: linear-gradient(to right bottom, rgba(32, 157, 144, 0.8), rgba(37, 101, 157, 0.8));
    --gradient-color3: linear-gradient(to right bottom, rgba(100, 63, 106, 0.8), rgba(27, 69, 59, 0.8));
}

@-webkit-keyframes pop-in{
    0% {
      background: url('images/20.jpg') center no-repeat;
      background-size: cover;
      
    }
    50% {
      background: url('images/boy.jpg') center no-repeat;
      background-size: cover;
    }
    100% {
      background: url('images/me.png') center no-repeat ;
      background-size: cover;
    }
  }




section{
    padding:6rem 0;
}

a{
    text-decoration: none;
    color: #27e8a7;
     
}

p{
    
    font-size: 1.8rem;
    font-weight: 400;
}
h6{
    color:#27e8a7;
}

img{
    width: 100%;
    
}

@font-face {
    font-family: 'SF Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular'), url('SFMonoRegular.woff') format('woff');
}
@font-face {
    font-family: 'SF Mono Regular', "SF Mono" ;
    src: url('fonts/thehistoriademo-webfont.woff2') format('woff2'),
        url('fonts/thehistoriademo-webfont.woff') format('woff'),
        url("fonts/Calibre-Regular.woff") format('woff'),
        url("fonts/SFMono-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/**                                          Regular */



.card{
    display: flex;
    flex-direction: column;
    background-color: #0a192f;
    /* box-shadow: 10px .8rem 1rem rgba(233, 228, 228, 0.01); */
    margin-bottom: 10px;
    

}


.image-data{
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-image1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/sushi-uhd-4k-wallpaper.jpg") center no-repeat ;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}


.background-image2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: pop-in;
    -webkit-animation-duration: 20s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    /* background: url("/images/20.jpg") center no-repeat ; */
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}

.background-image3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/pexels-photo-577585.jpg") no-repeat 40% 50% ;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}


.card:hover .background-image1{
    transform: scale(1.5);
}
.card:hover .background-image2{
    transform: scale(1.5);
}
.card:hover .background-image3{
    transform: scale(1.5);
}

.publication-details{
    width: 100%;
    height: 100%;
    background: var(--gradient-color2);
    font-size:1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top:0;
    left:0;
    padding: 1rem;
}

.pub2{
    background: var(--gradient-color1);
}

.pub1{
    background: var(--gradient-color3);
}

.publication-details i{
    margin-right: 1rem;
}

.author{
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s .3s;
}

.author:hover{
    color: rgba(255,255,255, .75);
}
.date{
    display: block;
}

.post-data{
    background-color: rgb(11, 63, 78);
    padding: 2rem 3rem;
    position: relative;
}

.title{
    font-size: 2rem;
    line-height: 1;
    color: #27e8a7;
    margin-left: 0.5rem;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
}

.description{
    position: relative;
}

.description::first-letter{
    margin-left: 1rem;
}

.description::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: .5rem;
    height: 2.2rem;
    background: #c31985;
    border-radius: 2rem;
}

.cta{
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta .cta1{
    background: #c31985;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.cta a::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: 3px;
    background: #c31985;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.cta a:hover::before{
    transform: scaleX(1);
}


@media screen and (min-width: 600px){
    .card, .container{
        flex-direction: row;
        max-width: 90rem;
        
    }

    .image-data{
        margin-top: 5rem;
        flex-basis: 40%;
        height: unset;
    }

    .publication-details{
        transform: translateX(0);
        transition: transform .5s;
    }

    .card:hover .publication-details{
        transform: translateX(-100%);
    }

    .author{
        transform: translateY(0);
        opacity: 0;
        transition-delay: .3s; 
    } 

    .date{
        transform: translateY(0);
        opacity: 1;
        transition: all .5s .3s;
    }

    .card:hover .author,
    .card:hover .date{
        transform: translateY(-3rem);
        opacity: 0;
    }

    .post-data{
        margin-top: 5rem;
        flex-basis: 60%;
    }

    .post-data::before{
        content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #0a192f;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }
}


















/**     END                                     Regular */




/*End global*/

/*Start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    /* height: 100%; */
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    letter-spacing: 0.1em;
    font-size: 1.9rem;
    color: rgba(255,255,255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before, 
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255, 0.75);
}
.section-heading h1::before{
    width: 10rem;
    height:3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height:1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;

}

.has-margin-right{
    margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh; /* height:130vh; */
    
}
/* .top-nav{
    width:100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index:50;
    /* background: linear-gradient(-45deg, 	#141514	, 	#3f3535, 	rgb(4, 22, 55), rgb(38, 48, 42)); */
    background-color: #182841;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
} */

/* .top-nav{
    top: -10px;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 5vh;
    align-items: center;
    box-sizing: border-box;
    transition: .5s;
    justify-content: space-around;
} */

.side {
    
    width: 40px;
    
    bottom: 0px;
    
    right: 90px;
    z-index: 10;
    
}

.email-wrapper{
    margin-right:  100px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    padding: 0;
}

/* .email-wrapper::after {
    
    content: "";
    display: block;
    width: 1px;
    height: 90px;
   
    margin: 0px
} */

.email {
    position: fixed;
    margin-right:  100px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin: 30px auto;
    /* padding: 10px; */
    margin-left: 30px;
    bottom: 0;
    transition: .5s;
}

.email:hover{
    color: #c31985;
    
}







/* .nav-lists.black{
    background: rgb(42, 114, 173);
    height: 80px;
    padding-left: 100%;
   
} */

.nav-list{
    width:100%;
    /* height: 100%; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav-lists{
    position: fixed;
    top:0;
    /* right: 10px; */
    padding: 0;
    display: block;
    transition: .5s;
    z-index: 6000;
    width: 100%;
    

}

.number{
    color: #a8b2d1;
    margin-right: 1rem;
}

li{
    margin: 0 2rem;
    list-style: none;
}
.nav-link{
    float: left;
    line-height: 80px;
    font-family: 'SF Mono Regular', "SF Mono", 'roboto',"SFMono-Regular", monospace ;
    font-size: 1.7rem;
    padding: 0rem 0.9rem ;
    display: block;
    font-weight: 300;
    
}

.nav-link:hover,
.nav-link:focus{
    /* background: linear-gradient(to top, #78d8c3, #c31985); */
     background: linear-gradient(to top, #27e8a7, #5beaed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#resumecolor{
    color: #c31985;
}



#resume:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

#resume {
    
    position: relative;
    display: inline-block;
    padding: 20px 25px;
    margin: 90px 0;
    color: #d0ebec;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 0.1rem;
    
    border: 1px solid #27e8a7;
}

a #resumespan{
    position: absolute;
    display: block;
    
}
/* 
i a #resumespan:nth-child(1){
    top: 0;
   
    width: 100%;
    height: 2px;
    
    animation: animate1 1s linear infinite;
    
} */



.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #27e8a7;
    margin: 5px;
    ;
}


/* .top-nav.open{
    top: 0;
    border-radius: initial;
} */
/* .menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
} */

/* .menu-toggler.open{
    transform: rotate(-45deg);
} */

/* .bar{
    background: linear-gradient(to right, #27e8a7, #add7ff);
    width: 100%;
    height:4px;
    border-radius: .8rem;
} */
/* .bar.half{
    width: 50%;
} */

/* .bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
} */

/* .open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
} */

/* .bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
} */
/* .open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
} */

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align: center;
    z-index:1;
    
    
}

.landing-text h2 {
    margin-right: 20%;
    display: inline-block;
    font-size:2rem;
    letter-spacing: 0.1em;
    color: #add7ff;
    
}

.landing-text h1{
    justify-content: center;
    font-size:8rem;
    font-family: 'SF Mono Regular', "SF Mono", 'roboto',"SFMono-Regular", monospace ;
    /* font-family: 'The Historia Demo', sans-serif; */
    background: #a8b2d1;
    /* background: linear-gradient(to top, #2ee3bb, #f421a6); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 40rem;
    padding: 1rem;
    user-select: none;
    
}

.landing-text h6{
    font-size: 7rem;
    font-weight:  400;
    
}

/*End header*/

/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    letter-spacing: 0.1em;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img{
    width: 100%;
    flex: 1;
    margin-right: 5rem;
    position: relative;
    overflow: hidden;
    transition: transform 5s;
}




/* 
.profile-img::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #27e8a7;
    position: absolute;
    top:0;
    left: 0;
    opacity: .1;
    mix-blend-mode: screen;
    z-index: 3;
    
} */

figure.effect-apollo {
	background: #64ffda;
}

figure.effect-apollo img {
    
    
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    
	/* -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0); */
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid rgb(206, 71, 177);
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}


figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    
	/* -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0); */
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}












/* .me{
    color: #27e8a7;
} */


.about-details{
    flex:1;
}

.social-media{
    margin-top:3rem;
}

.social-media li{
    font-weight: lighter;
    color: #27e8a7;
    font-size: 20px;
    padding-left: 20px;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-github-square:hover{
    color: #a8b2d1;
    
}
.fa-instagram:hover{
    color: #c31985;
    
}
.fa-linkedin:hover{
    color: #0077B5;
}



#fb::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #3b5998;
    transition: .5s;
}


#ig::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #fcaf45;
}


#tw::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #55acee;
}


#gh::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #c4302b;
}

#fb:hover {
    color: #2f67cd;
}

#ig:hover {
    color: #fcaf45;
}

#gh:hover {
    color: #c4302b;
}
/*End about*/

/*Start services*/
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2rem -2px 2rem 0;
}

.icon-container{
    width: 10rem;
    height:  10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin-bottom: 2rem;
    /* to center the icon */
    display: flex; 
    transform: rotate(45deg);
}

.icon-container i{
    color:#ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End services*/

/*Start portfolio*/
.portfolio-item{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 5rem; 
}
.portfolio-item:last-child{
    margin-bottom: 0;
}

.profile-img{
    width: 50rem;
    flex: 1;
}

/* .portfolio-img:hover{
    color: #27e8a7;
    opacity: 0.3;
} */

.portfolio-description{
    /* flex: 1; */
}

.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
    
}

.portfolio-description h6{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    margin-right: 2rem;
    font-size:1.9rem;
    
    color: #3a9197;
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}

/*End services*/

/*Start timeline*/
.timeline ul{
    border-left: 4px solid #27e8a7;
    border-radius: .8rem;
    background-color:#172a45;
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position:relative;
    
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
    
}

.timeline .date::after{
    content:'';
    box-shadow: 0 0 0 4px #40556c;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ee75a0;
    animation: pulse 2s infinite;
}
/*End timeline*/

/*Start contact*/
/* .contact{
    background-color: #221e3f;
} */
form{
    width: 70%;
    margin: 0 auto;
    
}

form label{
    font-size: 1.9rem;
    
}



input,
select,
textarea{
    color: #03e9f4;
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #0a192f;
    font-size: 2rem
}


input[type="submit"]{
    width: initial;
    background: transparent;
    color:#eee;
    padding:1rem 2rem;
    /* border-radius: .8rem; */
    cursor: pointer;
    transition: background-color 650ms;
    margin-top: 3rem;
    border: 1px solid #27e8a7;
}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: #27e8a7;
}
input[type="text"],
input[type="email"],
textarea
{
    background: transparent;
    border-bottom: 1px solid #27e8a7;
}

/*End contact*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    /* background-color: #16162d; */
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    /* background-color: #eee; */
    background: linear-gradient(#add7ff, #df4576, #27e8a7);
    top: -2.5rem;
    right:5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
    animation: glow 0.5s linear infinite;
}

.up span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#64ffda, #172a45, #64ffda);
}
 /* glowing effect    */
.up span:nth-child(1){
    filter: blur(5px);
}

.up span:nth-child(2){
    filter: blur(10px);
}
.up span:nth-child(3){
    filter: blur(25px);
}
.up span:nth-child(4){
    filter: blur(50px);
}

.up:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #121212;
    border-radius: 100%;
}
/* glowing effect    */
.up i{
    z-index: 50000;
    color: #27e8a7;
    font-size: 2rem;
    margin:auto;
}

.copyright p{
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}
/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(87, 253, 236, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87,191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87,191, 0);
    }
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes glow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


/* @keyframes animate1{
    0%{
        left: -100%;
    }
    50% , 100%{

    }
} */
/*End animations*/

/*Start media queries*/



@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        background: #0a192f;
        /* background: url(images/sitebg2.jpg) no-repeat center fixed;
        background-size: cover; */
    }
    /* #nav-lists{
        
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #3a0000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    } */

    .email{
        position: absolute;
    }

    #nav-lists{
        position: absolute;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;
        /* right: 10px; */
        padding: 0;
        display: block;
        transition: .5s;
        z-index: 6000;
        width:100%;
        
    
    }
 

    .nav-link{
        
        opacity: 1;
        font-size: 1.4rem;
        margin: 0;

    }
    

 
    .landing-text h2 {
        margin-right: 2px;
        display: inline-block;
        font-size:1.8rem;
        letter-spacing: 0.1em;
        
    }
    .landing-text h1{
        font-size: 8rem;
        
    }
    /* .top-nav{
    height: 100vh;
    position: fixed;
    } */
    /* .section{
        width: 100%;
    }
    .container{
        width: 100%;
    } */

    

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline p{
        font-size: 1.1rem;
        margin: auto;
    }

    .timeline .date::before{
        left: -20rem;
    }
    .timeline .date::after{
        left: -5.9rem;
    }

}

@media screen and (max-width: 600px){

    body{
        overflow-x: hidden;
        background: #0a192f;
    }





    #nav-lists{
        display: none;
    }



    .landing-text h2 {
        margin-right: 2px;
        display: inline-block;
        font-size:1.8rem;
        letter-spacing: 0.1em;
        
    }
    .landing-text h1{
        font-size: 2rem;
        
    }


    .container{
        width: 60%;
    }

    .timeline ul{
        padding-right: 15rem;
    }

    

    .landing-text h1{
        font-size: 6rem;
        padding-left:30px;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    

    

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .timeline p{
        font-size: 1.8rem;
        
    }
    .timeline .date::before{
        
        left: -2px;
        text-align: right;
        min-width: 12rem;
        font-size: 1.5rem;
        
    }
    
    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }
}
/*End media queries*/